*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Poppins', sans-serif;


#home {
    width:100%;
    height:100vh;
    padding: 10px;
    background-color: black;
    color:beige;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.nav ul{
    display:flex;
    flex-wrap:nowrap;
    gap:25px;
    justify-content: flex-end;
    align-items:center;
    padding:20px;
    color:aliceblue;
    padding-right:50px;
    text-decoration: none; 
    
}

.nav a {
    color:aliceblue;
    text-decoration: none; 
    list-style: none;
  }
.nav a:hover {
    color: #2ecc71;
    text-decoration: underline;
  }
.hero{
    padding:50px;
}
  
.hero h2{
    font-size:3rem;
    padding:15px;
    margin-top:50px;
}

.animated-text {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(250, 249, 249);
    animation: fadeSlide 2s ease-in-out forwards;
    opacity: 0;
    transform: translateY(20px);
  }
  
  @keyframes fadeSlide {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  