
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family: 'Poppins', sans-serif;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
.container{
  background-color: #fefae0;
}
#home {
    width:100%;
    height:100vh;
    background-color: #fefae0ad;
   /* background-color: #ffffff;
    color:#2C3E50;*/
   top:0;
    color:#003049;
}

.header{
    background-color: #fefae0ad; 
    backdrop-filter: blur(6px); 
    display:flex;
    align-content: center;
    justify-content: space-between;
    /*box-shadow:0px 0px 10px black;*/
    padding:10px;
    margin:0;
    position:sticky;
    top: 0;
    z-index: 1000;

   
}
.logo{
    padding-left:40px;
    font-size: 1.5rem;
}

.nav ul{
    font-size: 1.3rem;
    display:flex;
    flex-wrap:nowrap;
    gap:25px;
    justify-content: flex-end;
    align-items:center;
    padding:20px;
    color:#002f4961;
    padding-right:50px;
    text-decoration: none; 
    list-style: none;
    
}

.nav a {
  color: #2c3e509b;
  text-decoration: none;
  transition: transform 2s ease;
  display: inline-block;
}

.nav a:hover {
  color: #041b28;
  transform: scale(1.06);
  
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
}

.hero{
    padding:50px;
    text-align: center;
    animation: fadeSlide 2s ease-in-out forwards;
    opacity:0;
    transform: rotateX(-30deg);
    margin-top:20px;
}
  
.hero h2{
    font-size:3rem;
    margin-top:60px;

}
.hero h3{
  font-size:1.9rem;
  margin-top:30px;
  
}

.hero p{
  font-size:1.5rem;
  padding:15px;
}

  
@keyframes fadeSlide {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.button {
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  transform: scale(1); 
  transition: transform 0.5s ease;
  background-color: #003049;
  color:#fefae0d8;
}

.button:hover {
  background-color: #002f49c5;
  transform: scale(1.02);
}

.social-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.social-icons a {
  color: #333; 
  font-size: 2rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons a.linkedin:hover {
  color: #0A66C2; 
  transform: scale(1.2);
}

.social-icons a.github:hover {
  color: #171515; 
  transform: scale(1.2);
}

.social-icons a.telegram:hover {
  color: #0088cc; 
  transform: scale(1.2);
}



.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.arrow {
  font-size: 2rem;
  color: #2c3e50;
  display: inline-block;
  animation: bounce 1.5s infinite ease-in-out;
  margin-bottom:10px;
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

/* -- about me section --*/
#about {
  width:100%;
  height:100vh;
  background-color: #fefae0ad;
 /* background-color: #ffffff;
  color:#2C3E50;*/
 
  color:#003049;
}
#about h1{
  text-align: center;
  font-size: 2.2rem;
}

.about_me{
  display:flex;
  justify-content:space-around;
  align-content: center;
  flex-direction: row;
  gap:10px;
}
.img img{

  height:350px;
  padding:20px;
  border-radius: 20px;
  top:0;
  object-fit: contain;
}
.description{
  padding:15px;
  font-size: 1.4rem;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  width:50%;
  margin:20px;
  /*box-shadow: 1px 1px 8px #003049;*/
  border-radius: 30px;
  transition:transform 1s ease-in-out;


}
.description:hover{
  transform:scale(1.02);
  transform: perspective(1.2);
}
.description > p,h2{
  padding-top: 10px;

}
.cv {
  font-size:1.2rem;
  padding:1%;
  border-radius: 15px;
  margin-top:30px;
  background-color: #003049;
  color:#fefae0;
  transition: transform 1s ease, color 1s ease-out;
}
.cv a{
  text-decoration: none;
  color:#fefae0;
}
.cv:hover{
  background-color: #002f49ae;
  transform:skew(10deg) scale(1.02);
}

/*services section*/
#services{
  width:100%;
  height:100vh;
  background-color: #fefae0ad;
  color:#003049;
}
#services h1 {
  text-align: center;
  font-size: 2.2rem;
}
#services h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-top:30px;
}
.all-service {
  display:flex;
  flex-wrap:wrap;
  gap:25px;
  justify-content:space-evenly;
  align-items:center;
  padding:20px;
  margin-top:20px;
 

}
.service{
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.27);
  border-radius: 20px;
  font-size: 1.4rem;
  padding:15px;
  width:30%;
  height:250px;
  text-align: center;
  transition: transform 0.8s ease, color 1s ease-out;

}
.service:hover{
  background-color: #003049;
  transform:skew(2deg) scale(1.08);
  color:#fefae0;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .about_me {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
}